html {
	font-family: "Segoe UI",Arial,sans-serif;
	height: 100%;
}

body {
	margin: 0px;
}

h1, h2, h3, h4 {
	margin-top: 0px;
	margin-bottom: 10px;
}

a, a:visited, a:hover, a:active {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.button {
	background-color: rgba(241, 241, 241, 1);
	border: 1px solid lightgray;
	padding: 5px 15px;
	display: inline-block;
	cursor: pointer;
	font-size: 13px;
	user-select: none;
}

.button:hover {
	background-color: rgba(220,220,220,1);
	border-color: darkgray;
}

.button:active {
	background-color: rgb(200,200,200);
}

.vert-line {
	width: 0px;
	height: 70%;
	border-left: 1px solid lightgray;
	display: inline-block;
	display: inline-block;
    vertical-align: top;
    position: relative;
    top: 15%;
}

#top-nav-cont {
	background-color: #d7e7ec;
	width: 100vw;
	height: 50px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1100;
	box-sizing: border-box;
	display: flex;
}

#top-nav-controls-cont {
	display: flex;
}

.top-nav-control-cont {
	height: 100%;
	width: 50px;
	box-sizing: border-box;
	padding: 12px;
	display: inline-block;
}

.top-nav-control-cont:hover {
	background-color: lightblue;
}

.top-nav-control {
	width: 100%;
	height: 100%;
	background-color: gray;
}

.top-nav-search-cont {
	box-sizing: border-box;
	display: flex;
	height: 100%;
	padding: 12px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.top-nav-search-submit {
	height: 100%;
	background-color: lightblue;
	padding: 0px 15px;
	box-sizing: border-box;
	font-size: 13px;
	line-height: 25px;
}

#top-nav-mobile-cont {
	display: none;
	text-align: center;
	width: 100%;
	height: 100%;
}

.top-nav-select-cont {
	height: 100%;
	text-align: center;
	margin: auto;
	display: inline-block;
}

.top-nav-select-item {
	display: inline-block;
	height: 100%;
	padding: 15px;
	box-sizing: border-box;
}

.top-nav-select-item:hover {
	background-color: lightblue;
}




#account-nav-cont {
	left: 0px;
}

#category-nav-cont {
	right: 0px;
}

.side-nav {
	background-color: #e8e8e8;
	/*width: 300px;*/
	width: 20%;
	max-width: 300px;
	height: 100vh;
	position: fixed;
	top: 50px;
	z-index: 1000;
	box-sizing: border-box;
	overflow: hidden;
	transition: all 0.5s;
	box-shadow: 0px 0px 10px rgba(60,60,60,0.6);
}






.nav-heading {
	font-size: 20px;
	font-weight: bold;
	padding: 15px;
}

#nav-hor-separator {
	border-bottom: 2px solid lightgray;
	position: fixed;
	top: 146px;
	left: 0px;
	height: 0px;
	width: 100vw;
	z-index: 1050;
}

.table-heading-cont {
	position: relative;
	box-sizing: border-box;
	white-space: nowrap;
	display: -webkit-flex;
	display: flex;
}

.table-heading {
	padding: 10px 15px;
	display: inline-block;
	box-sizing: border-box;
	/*margin-left: -4px;*/
}

.table-heading-left {
	width: 50%;
	display: inline-block;
}

.table-heading-right {
	width: 50%;
	display: inline-block;
	text-align: right;
}

.table-heading:first-child {
	/*margin-left: 0px;*/
}

.table-heading:last-child {
	text-align: right;
}

.side-nav .table-heading:last-child {
	/*right: 0px;*/
}

.nav-list {
	position: relative;
	font-size: 13px	;
}

#expense-nav-cont {
	/*width: calc(100vw - 600px);*/
	width: 60%;
	/*height: 100vh;
	position: fixed;
	top: 60px;
	left: 300px;*/
	margin: auto;
	position: relative;
	top: 50px;
}

#expense-cont {
	width: calc(100% - 30px);
	max-width: 1200px;
	/*height: 400px;*/
	margin: auto;
	/*border: 1px solid black;*/
	overflow: hidden;
}

.exp-table-delete {
	/*width: 35px;*/
	-webkit-flex-grow: 0;
	flex-grow: 0;
}

.exp-table-date {
	/*width: 20%;*/
	-webkit-flex-grow: 2;
	flex-grow: 2;
}

.exp-table-desc {
	/*width: 35%;*/
	-webkit-flex-grow: 5;
	flex-grow: 5;
}

.exp-table-cat {
	/*width: 25%;*/
	-webkit-flex-grow: 2;
	flex-grow: 2;
}

.exp-table-amount {
	/*width: calc(20% - 37px);*/
	-webkit-flex-grow: 2;
	flex-grow: 2;
}

.exp-table-heading:first-child {
	/*margin-left: 0px;*/
}

#expense-table-body {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: calc(100vh - 150px);
}

.account {
	padding: 5px 15px;
	cursor: pointer;
	user-select: none;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	max-height: 100px;
	display: flex;
}

.account:hover {
	background-color: lightgray;
}

.side-nav-select {
	background-color: #d7e7ec !important;
	transition: background-color 0.2s;
}

.select-border {
	position: absolute;
	width: 0px;
	height: 120px;
	background-color: #42b8f9;
	left: 0px;
	top: 0px;
	transition: width 0.2s;
}

.side-nav-table-item {
	/*width: 50%;*/
	display: inline-block;
	vertical-align: middle;
}

.side-nav-table-left {
	white-space: normal;
	-webkit-flex-grow: 2;
	flex-grow: 2;
}

.side-nav-table-right {
	text-align: right;
	-webkit-flex-grow: 1;
	flex-grow: 1;
}






#form-outer-cont {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 1500;
}

#form-overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #3e3e3e;
	opacity: 0;
	transition: opacity 0.5s;
}

#form-cont {
	position: relative;
	top: -100px;
	width: 50%;
	max-width: 750px;
	margin: auto;
	opacity: 0;
	background-color: #c6e9ff;
	background-color: #f0fcff;
	z-index: 1500;
	transition: all 0.5s;
	box-shadow: 0px 0px 10px rgba(60,60,60, 0.6);
}

#form-heading-cont {
	position: relative;
	display: flex;
	background-color: #c6e9ff;
	height: 50px;
	padding: 15px;
	box-sizing: border-box;
	font-weight: bold;
}

#form-heading-text {

}

#form-heading-close {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 50px;
	height: 100%;
	line-height: 45px;
	cursor: pointer;
	text-align: center;
}

#form-heading-close:hover {
	background-color: lightgray;
}

.form {
	display: flex;
	flex-wrap: wrap;
	overflow-y: auto;
	max-height: calc(100vh - 200px);
}

.form-item {
	display: block;
	width: 200px;
	box-sizing: border-box;
	padding: 15px;
	position: relative;
	flex-grow: 1;
}

.form-item-reset {
	position: absolute;
	top: 36px;
    right: 15px;
    height: 25px;
    width: 25px;
    text-align: center;
    cursor: pointer;
    line-height: 19px;
}

.form-item-reset:hover {
	font-weight: bold;
}

.form-item-error-cont {
	padding-left: 2px;
	height: 0px;
	transition: height 0.5s;
	overflow: hidden;

}

.form-item-error {
	font-size: 12px;
	color: red;
	font-style: italic;
}

.form-input-error {
	box-shadow: inset 0px 0px 5px rgba(250,0,0,0.6);
	border: 1px solid #bf6464;
}

.form-item-input {
	width: 100%;
	height: 25px;
	box-sizing: border-box;
	padding: 2px 20px 2px 5px;
}

.form-buttons-cont {
	display: block;
	padding: 15px;
	border-top: 1px solid lightgray;
}

.form-button-submit {
	float: right;
}


/*-- Media Queries ------------------------------------------------------------------*/

@media screen and (max-width: 600px) {

	#top-nav-controls-cont {
		display: none;
	}

	.top-nav-search-cont {
		display: none;
	}

	#top-nav-mobile-cont {
		display: block;
	}




	#form-cont {
		width: calc(100vw - 30px);
	}




	.side-nav {
		width: 300px;
	}

	#account-nav-cont {
		left: -300px;
	}

	#category-nav-cont {
		right: -300px;
	}

	#expense-nav-cont {
		width: 100vw;
	}

}

